[submodule "Carthage/Checkouts/SKWebAPI"]
	path = Carthage/Checkouts/SKWebAPI
	url = https://github.com/SlackKit/SKWebAPI.git
[submodule "Carthage/Checkouts/Starscream"]
	path = Carthage/Checkouts/Starscream
	url = https://github.com/daltoniam/Starscream.git
[submodule "Carthage/Checkouts/Dollar"]
	path = Carthage/Checkouts/Dollar
	url = https://github.com/ankurp/Dollar.git
[submodule "Carthage/Checkouts/ReSwift"]
	path = Carthage/Checkouts/ReSwift
	url = https://github.com/ReSwift/ReSwift.git
[submodule "Carthage/Checkouts/SKCore"]
	path = Carthage/Checkouts/SKCore
	url = https://github.com/SlackKit/SKCore.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
